.contact {
  width: 100%;
  padding: 100px 0px;
  background: url(../images/infinite-loop-03.jpg);
  .head {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    h2 {
      color: white;
      font-size: 60px;
    }
    p {
      color: white;
      font-size: 20px;
    }
  }
  .container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media(max-width: 1080px) {
      flex-direction: column-reverse;
    }
    input {
      display: block; 
    }
    form {
      width: 70%;
      @media(max-width: 1080px){ 
        width: 90%;
        margin: 60px 0px;
      }
      outline: none;
      margin: 0px auto;
      margin-top: 60px;
      input {
        height: 60px;
        border-radius: 8px;
        width: 80%;
        font-size: 30px;
        padding: 10px 9px;
        background: transparent;
        border: 2px solid white;
        color: white;
        margin: 20px 0px;
        @media(max-width: 1080px){ 
          width: 100%;
        }
      }
      textarea {
        @media(max-width: 1080px){ 
          width: 100%;
        }
        width: 80%;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 4px 9px;
        font-size: 30px;
        color: #fff;
      }
    }
    .rside {
      margin-top: 60px;
      @media (max-width: 1080px) {
        width: 100%;
      }
      .contac {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          width: 30%;
          font-size: 35px;
          color: white;
          margin-right: 20px;
          margin-top: 30px;
          @media(max-width: 767px) {
            font-size: 30px;
          }
        }
        h3 {
          width: 70%;
          font-size: 35px;
          color: white ;
          @media(max-width: 767px) {
            font-size: 26px;
          }
        }
      }
    }
  }
}