// Main Rules

:root {
  --mainPadding: 5%;
  --mainColor: #357;
  --secColor: #fff;
}

#Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: (var(--secColor));
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2rem;
  background-image: url(../images/infinite-loop-01.jpg);

  h1 {
    font-size: 5rem;
    margin: 0;
  }

  span {
    position: absolute;
    bottom: 10%;
    left: 50%;
    padding: 20px 60px;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: var(--mainColor);

    svg {
      color: var(--secColor) !important;
    }
  }
}

#Gallery {
  div {
    position: relative;
    overflow: visible;

    #gallary-slider {
      font-size: 0px;
      width: max-content;

      div {
        width: 200px;
        display: inline-block;
        height: 300px;
        padding-inline: 15px;
        overflow: hidden;

        img {
          width: 100%;
        }

        span {
          position: absolute;
          display: inline-block;
          width: 60px;
          height: 100px;
          cursor: pointer;
          overflow: visible;
          top: 50%;
          transform: translateY(-50%);
          color: var(--mainColor);
          font-size: 2rem;

          &:first-of-type {
            left: 30px;
          }

          &:last-of-type {
            right: 30px;
          }
        }
      }
    }
  }
}